* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #fdfffc;
}
header {
  background-color: #011627;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px 0px #6B717E;
}
.logo h1 {
  color: whitesmoke;
  font-size: 26px;
  margin-left: 2vw;
}
.logo a {
  text-decoration: none;
  color: #fdfffc;
}
input {
  margin-right: 2vw;
  height: 30px;
  width: 300px;
  background-color: whitesmoke;
  border: none;
  font-size: 16px;
  padding: 2px;
  font-family: sans-serif;
}
main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 90vh;
  width: 80vw;
  margin-left: 10vw;
  flex-flow: row wrap;

}
.card {
  width: 300px;
  height: 280px;
  background-color: #fdfffc;
  box-shadow: 0px 4px 6px 0px #6B717E;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 12px;
  margin-right: 12px;
  flex-grow: 1;
  flex-basis: auto;
}
.card p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 16px;
}
.card a {
  color: #011627;
  text-decoration: none;
    font-weight: bold;
  transition: ease-in;
  transition-duration: 0.3s;
}
.detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  height: 35px;
  background-color: #2ec4b6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #011627;
  font-weight: bold;
  font-size: 16px;
  transition: ease-in;
  transition-duration: 0.3s;
  cursor: pointer;
}
.detail:hover {
  background-color: #011627;
}
.detail:hover {
  color: #fdfffc;
}
.singleWrapper {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single {
  width: 450px;
  height: 450px;
  background-color: #fdfffc;
  box-shadow: 0px 4px 6px 0px #6B717E;
  border-radius: 5px;
  position: relative;
}
.single h1 {
  margin-left: 15px;
  margin-top: 65px;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}
.single p {
  margin-left: 25px;
  margin-top: 15px;
  font-size: 16px;
}
.goBack {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 40px;
  width: 80px;
  background-color: #EA3449;
  transition: ease-in;
  transition-duration: 0.3s;
  cursor: pointer;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;

}
.goBack a {
  text-decoration: none;
  color: #011627;
  transition: ease-in;
  transition-duration: 0.3s;
}
.goBack:hover {
  background-color: #011627;
}
.goBack:hover {
  color: #fdfffc;
}

/* Loading animation */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #2ec4b6;
  border-color: #2ec4b6 transparent #2ec4b6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}